@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik/static/Rubik-SemiBold.ttf);
    font-weight: 600;
}


@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik/static/Rubik-Regular.ttf);
    font-weight: 400;
}


@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik/static/Rubik-Light.ttf);
    font-weight: 300;
}


.header{
    background: url(../img/image\ 1.png) no-repeat center/cover; 
    height: 100vh;
}


.header__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.header__content-title{
    font-weight: 600;
    color: white;
    font-size: 59px;
    padding: 20px 0 10px;
    line-height: 70px;
}

.header__content-subtitle{
    font-size: 26px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
}

.cards{
    display: flex;
}

.cards__card{
    background: #181D28;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0,5s;
    row-gap: 24px;
    padding: 20px 0;
}

.cards__card:hover{
    cursor: pointer;
    background: #6B4B6B;
}

.cards__card-title{
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.gear{
    padding:40px 0;
}

.gear__title{
    text-align: center;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
}

.gear__text{
    font-style: 15px;
    line-height: 18px;
    padding-bottom: 40px;
}

.gear__img{
    width: 100%;
}